section(ng-controller="BoardController as boardvm")
  .row
    .board.col-xs-12
      .loading-zone(ng-show="boardvm.loading")
        .alert.alert-info(role="alert")
          pv-loading-spinner
          | {{boardvm.loadingMessage}}
      div(ng-if="!boardvm.isGameStarted")
        .alert.alert-info(role="alert")
          | En attente d'autres joueurs. Seul le dealer peut démarrer la partie.<br>
          | Une fois la partie lancée, <b>aucun</b> nouveau joueur ne sera en mesure de rejoindre la salle.
        button.btn.btn-success.btn-block(type="button" ng-if="vm.currentUserIsDealer" ng-click="boardvm.startGame()")
          | Démarrer la partie
      div(ng-if="boardvm.isGameStarted")
        .question-form(ng-show="boardvm.showQuestionForm")
          .alert.alert-info(role="alert")
            | Les autres joueurs sont en attente de votre proposition !<br>
            | Définissez une proposition ou une question à laquelle les autres joueurs et vous-même devrez répondre par
            | <b>OUI</b> ou par <b>NON</b>.<br><br>
            | Exemples :<br><ul>
            | <li>Je pense que gPartner a un très bel avenir</li>
            | <li>Avez-vous déjà menti à votre patron ?</li></ul>
          form(role="form" name="questionForm" ng-submit="boardvm.define(boardvm.question)")
            .form-group
              input.form-control.input-lg(type="text" placeholder="Entrez votre proposition/question fermée"
                  ng-model="boardvm.question" required="")
              .help-block Les joueurs devront répondre uniquement par <b>OUI</b> ou par <b>NON</b>
            button.btn.btn-success.btn-block(type="submit") Continuer
        .question-zone
          .question(ng-show="boardvm.showQuestion" ng-bind="boardvm.nextQuestion")
          .answer-form(ng-show="boardvm.showAnswerForm")
            .alert.alert-info(role="alert")
              | <b>En vous incluant</b>, tentez de deviner le nombre de joueurs susceptibles de répondre <b>OUI</b>
              | puis donnez votre réponse.
            form(role="form" name="boardvm.answerForm")
              .form-group
                select.form-control(name="yesCountGuess" ng-model="boardvm.yesCountGuess"
                    ng-options="number for number in [] | pvRange:0:vm.room.players.length" required="")
                  option(value="" disabled="" selected="") Estimation #OUI
              .answer-buttons
                button.btn-o(type="button" ng-click="boardvm.submitAnswer('YES', boardvm.yesCountGuess)"
                    ng-disabled="boardvm.answerForm.$invalid")
                  .btn-o-content OUI
                button.btn-o(type="button" ng-click="boardvm.submitAnswer('NO', boardvm.yesCountGuess)"
                    ng-disabled="boardvm.answerForm.$invalid")
                  .btn-o-content NON
          .player-recap.row(ng-show="boardvm.showPlayerRecap")
            .col-xs-6 Réponse : {{boardvm.answerRecap}}
            .col-xs-6 Estimation #OUI : {{boardvm.yesCountGuessRecap}}
          .results.panel.panel-primary(ng-show="boardvm.showQuestion")
            .panel-heading Résultats du tour
            .panel-body.final-answer(ng-show="boardvm.results") Estimation correcte : {{boardvm.results.yesCount}}
            table.table.table-condensed
              thead
                tr
                  th Joueur
                  th Estimation #OUI
                  th
              tbody
                tr(ng-repeat="player in vm.room.players" ng-class="{info: boardvm.hasAnswered(player.id)}")
                  th(scope="row" ng-bind="::player.username")
                  td(ng-bind="boardvm.results.details[player.id].yesCountGuess")
                  td
                    i.fa(aria-hidden="true" ng-show="boardvm.results"
                    pv-validation-icon="boardvm.results.details[player.id].correct")
          div(ng-if="vm.currentUserIsDealer")
            button.btn.btn-success.btn-block(type="button" ng-show="boardvm.showNextTurn"
                ng-click="boardvm.startNextTurn()")
              | Commencer le tour suivant
